@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


.App {
    display: grid;
    /* background-color: rgb(207, 214, 211); */
    height: 100vh;
}

.MuiFab-root {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 45px;
    height: 60px !important;
    width: 60px !important;
    left: auto;
    position: fixed !important;
};

.ant-card-body {
    overflow-y: auto;
}